body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper {
    width: 100%;
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.img-container_first {
    height: 900px;
    overflow: hidden;
}

.first__img {
    background-image: url(../img/bg1.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
    padding-left: 82px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateZ(-1px) scale(2);
}

.name {
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.description {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #ffffff;
    margin-top: 8px;
}

.tagline {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    color: #ffffff;
    margin-top: 28px;
    margin-bottom: 145px;
}

.tagline span:nth-child(1) {
    display: inline-block;
    text-align: center;
    height: 129px;
    width: 152px;
    line-height: 129px;
    color: #f1ad1d;
    background-color: #ffffff;
    margin: 0;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}

.tagline span:nth-child(2) {
    border: 1px solid #ffffff;
    width: 831px;
    height: 129px;
    text-align: center;
    line-height: 129px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.first__no-img {
    height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

h2 {
    color: #333333;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #4d4943;
}

.line {
    margin-top: 52px;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
}


.img-container_second {
    height: 380px;
    overflow: hidden;
}

.second__img {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
}

.second__img h2 {
    color: #ffffff;
}

h2 span {
    color: #f1ad1d;
}

.second__no-img {
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container_third {
    height: 475px;
    overflow: hidden;
}


.third__img {
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
}

.third__img h2 {
    color: #ffffff;
}

.logos {
    width: 825px;
    margin-top: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.third__no-img {
    height: 402px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.img-container_forth {
    height: 485px;
    overflow: hidden;
}

.forth__img {
    background-image: url(../img/bg4.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateZ(-1px) scale(2);
}

.forth__img h2 {
    color: #ffffff;
}

.forth__img p {
    margin-top: 60px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

.forth__img p span {
    color: #f1ad1d;
}

.line_white {
    margin-top: 44px;
    background-color: #ffffff;
    width: 281px;
    height: 3px;
    margin-bottom: 70px;
}

.forth__no-img {
    height: 401px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
